@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 217, 217, 217;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-color: 35, 31,32;
}

body {
  background: rgb(var(--foreground-rgb));
  color: rgb(var(--font-color));
}

.text-outline {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}


